* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
	font-size: 13px;
	background: #f5f5f5;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
a {
	text-decoration: none;
	color: #de2728;
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}
#header {
	background: #1d1d1d;
	color: #ccc;
	border-bottom: 4px solid #de2728;
}
#header .menu {
	margin: 10px 0;
	float: left;
}
#header a {
	margin: 10px;
	display: inline-block;
	font-size: 20px;
	color: #fff;
}
#header .user-options {
	margin: 10px 0;
	float: right;
}
h1 {
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
label {
	margin: 15px 0 3px;
	font-size: 13px;
	font-weight: bold;
}
.error {
	border: 1px solid #c00;
	background: #fde5cf;
	color: #f00;
	border-radius: 3px;
	margin: 10px 0;
	padding: 5px;
	width: 400px;	
}
input, textarea {
	padding: 7px 5px;
	border-radius: 3px;
	border: 1px solid #aaa;
	box-shadow: 0px 2px 5px #ccc inset;
}
#form-elements {
	margin: 10px 0;
}
input[type=submit] {
	background: #069910;
	border: 1px solid #fff;
	box-shadow: 0 0 3px #000;
	color: #fff;
	padding: 7px 20px;
	margin: 10px 0;
}
.red {
	color: #de2728;
}
.m20 {
	margin: 20px;
}
.project-details {
	border-bottom: 1px solid #ccc;
}
.form-row {
	display: table;
	padding: 20px;
	border-bottom: 1px solid #e8e8e8;
	width: 960px;
}
.form-row label, .form-row input[type=text], .form-row textarea {
	display: table-cell;
	vertical-align: top;
	width: 720px;
}
.form-row label {
	width: 200px;
	vertical-align: middle;
	padding-right: 20px;
}
.form-row textarea {
	height: 50px;
}
.form-row.button {
	text-align: center;
}
.lt-col-2 .form-row {
    width: 460px;
    float: left;
}
.lt-col-2 label {
    width: auto;
    width: auto;
    margin: 5px 0;
    display: block;
}
.lt-col-2 .form-row textarea {
	height: 50px;
	width: 440px;
}
.search-results h2 {
	text-align: center;
	padding: 10px;
	border-top: 1px solid #eee;
}
.search-results ul li {
	display: inline-block;
	width: 455px;
	vertical-align: top;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 20px;
}
.search-results ul li h3 {
	background: #f5f5f5;
	padding: 20px;
	border-radius: 3px 3px 0 0;
}
.search-results ul li h3 .more-details {
	float: right;
	font-size: 12px;
	font-weight: 100;
	padding: 3px 0 0 0;
}
.search-results .tags {
	padding: 5px;
}
.search-results .tags a {
    display: inline-block;
    padding: 1px 6px;
    margin: 2px 3px;
    border-radius: 3px;
    border: 1px solid #DEC;
}